<router-outlet></router-outlet>
<!-- interpolación -->
<h1>INTERPOLACIÓN</h1>
<p>Acceso a atrubutos y métodos ts o ejecución de javascript </p>
<BR> {{ title }} - {{ 1 + 1}} - {{ getTitle()}}
<HR>

<!-- directiva -->
<h1>DIRECTIVA</h1>
<div *ngIf="mostrarTexto">
    El flag es verdadero {{ mostrarTexto }}
</div>
<!-- al poner el evento entre paréntesis busca el método cambiar() en el ts-->
<button class="miboton1" (click)="cambiar()">
  Cambiar1
</button>

<button [ngClass]="{'miboton' : mostrarTexto}" [id]="idbutton" (click)="cambiar()">
  Cambiar
</button>
<HR>
<h2>LANGUAGES</h2>
<ul>
    <li>Java</li>
    <li>Js</li>
    <li>Angular</li>
</ul>
<ul>
    <li *ngFor="let aux of languages; let i = index" [ngClass]="{'even': i%2 != 0, 'odd': i%2 === 0}">
        {{ aux.name}} {{ aux | json }}
    </li>
</ul>
<HR>
<button (click)=" mostrarLogin() ">
  Mostrar login
</button>

<button (click)=" ocultarLogin() ">
  Ocultar login
</button>

<app-login *ngIf="showLogin" [user]="username" (informarAlPadre)="recibirMensaje($event)">
</app-login>