<ul>
    <li>
        <a routerLink="/" routerLinkActive="menuActive">Home</a>
    </li>
    <li>
        <a routerLink="/login" routerLinkActive="menuActive">Login</a>
    </li>
    <li>
        <a routerLink="/basico" routerLinkActive="menuActive">Basico</a>
    </li>
    <li>
        <a routerLink="/producto/1" routerLinkActive="menuActive">Producto</a>
    </li>
    <li>
        <a routerLink="/producto2" routerLinkActive="menuActive" (click)="navegarDesdeTS()">Producto desde TS</a>
    </li>
</ul>